body{
    background-color: gray;
}

#container{
    background-color:thistle;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

#header{
    height: 15%;
    background-color: aqua;
}

#content{
    height: 75%;
    background-color: blue;
    /* display: flex; */
}

.sidebar{
    float: left;
    width: 15%;
    height: 100%;
    background-color: chocolate;
}

.selected{
    float: left;
    width: 70%;
    height: 100%;
    background-color:yellow;
}

.specific{
    float: left;
    width: 15%;
    height: 100%;
    background-color:violet;
}

#footer{
    height: 10%;
    background-color: tomato;
    clear: both;
}